div{
    /* border: 1px solid red; */
}
.body_page{
    background-color: rgb(240, 245, 255);
}
.link_login_page_social{
    text-decoration: none;
}
header{
    padding: 1% 0%;
}
.header_center_block{
    text-align: center;
    color: rgb(73, 73, 202);
}
.header_logo{
    width: 148px;
    margin-top: 0;
}
.profile_block{
    position: relative;
    top:0;
    text-align: end;
}
.header-search{
    width: 90%;
    margin: 4% 0% 4% 0%;
    padding-left: 1%;
    padding-right: 1%;
    height: 3em;
    border-radius: 15px;
    border: 1px solid #00f7ff;
    background-color: #fff5ee;
}
.header-search:focus{
    border: 2px solid #00f7ff;
    background-color: #ffffff;

}

.btn_login{
    font-weight: 600;
    background-color: #ff17bd60;
    border: 1px solid rgba(238, 130, 238, 0.705);
    margin: 1%;
    height: 25px;
    width: 25%;
    border-radius: 10px;
}
.btn_login:hover{
    background-color: #FF17BC;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.btn_city{
    font-weight: 600;
    background-color: #1797ff60;
    border: 1px solid rgba(238, 130, 238, 0.705);
    margin: 1%;
    height: 25px;
    width: 30%;
    border-radius: 10px;
}
.btn_city:hover{
        background-color: #1797ffb9;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.btn_search{
    margin-left: 1%;
    /* height: 3em; */
    width: 3em;
    background-color: #00d9ff00;
    border: 1px solid #00000000;

    border-radius: 15px;
}
.select-city{
    text-decoration: none;
    list-style-type: none;
    margin-top: 20%;
    
}
.select-city li{
    margin-top: 10%;
}
.select_city_link{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: #979797;
}
.select_city_link:hover{
    color: #000;
}
.description_view{
    text-align: center;
    padding-top: 4%;
    font-weight: 600;
}
.search_modal{
    width: 100%;
    height: 50px;
    border: 2px solid rgb(31, 136, 255);
    height: 100%;
    border-radius: 10px;
}
.login_link{
    text-decoration: none;
}
.profile_link{
    text-decoration: none;
    color: #424242;
    font-weight: 600;
    font-size: large;
}
    .avatars_pics{
        width: 35px;
        background-color: #12aa1228;
        border-radius: 15px;
    }
.login_page_h1{
    margin: 10%;
}
.dropdown-menu.show{
background-color: rgb(207, 207, 207);

}
.dropdown-profile{
    color: #1d6621;
    text-decoration: none;
}
ol, ul {
padding-left: 0.5rem;
}


.dropdown-profile:hover{
    color: #000;
    font-weight: 500;
}

.dropdown_menu_li{
    text-decoration: none;
    list-style-type: none;
    margin: 0;

}

.login-page{
    text-align: center;
}
.page-login_logo{
    width: 168px;
    margin-top: 10%;
    margin-bottom: 10%;
}
.login_input{
    border-radius: 10px;
    width: 25%;
    height: 15%;
    margin-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}
.login_btn_page{
    width: 25%;
    height: 20%;
    border-radius: 10px;
    color: aliceblue;
    font-weight: 700;
    background-color: #3fce3f;
    border: 2px solid rgba(255, 255, 255, 0);
    margin-top: 2%;
}
.login_btn_page:hover{
    background-color: #12aa12;
}
.login_social_icon{
    width: 4%;
}
.hr_login_page{
    margin: 3% 0% 0% 0%;
}

/*--------------------------------------------------------------------body----------------------------------------------------------------------------------------------------- */
.div_btn_category{
    padding-top: 4%;
    width: 155px;
    height: 250px;
    border: 2px solid #ff17bd34;
    background-color: rgb(199, 219, 231);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.div_btn_category:hover{
    background-color: rgb(175, 211, 233);
    font-weight: 800;
    color: #000;
    font-size: large;
    border-radius: 15px;
    border: 2px solid #ff17bd5d;

}


.text_menu_btn_category{
    font-weight: 600;
    color: #313131;
    height: 85px;
}


.text_menu_btn_category:hover{
color: #490034e5;
}

.header_h2{
    padding-top: 3%;
    padding-bottom: 2%;
    text-align: center;
}
.most_popular_in_city{
    margin-top: 3%;
    max-height: 450px;
}
.title_list_popular{
    padding-bottom: 1%;
    font-weight: 700;
    font-size: 18pt;
}
.list_doctor{

    list-style-type: none;
    color: #000000;

}
.list_in_category_specialist{
    padding-bottom: 3px;
    color: #1f1f1f;
    font-weight: 600;
    text-decoration: none;
    border: none;
}
.link_in_category_specialist{
    text-decoration: none;
}
.list_specialist_count{
padding-left: 3%;
}
.btn_popular_in_city{
    border: none;
    background-color: none;
    font-weight: 600;
}
.btn_popular_in_city:hover{
    border: none;
    background-color: none;
    color: rgb(82, 82, 82);

}
.top_rank_doctor_h3{
    margin-top: 5%;
text-align: center;

}
.top_rank_doctor_h5{
    margin-top: 0;
text-align: center;
}

.category_icon{
    width: 130px;
    border-radius: 15px;
}




.border {
    list-style: none;
    padding: 0;
    }
    .border li {
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 7px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-left: 10px solid #f05d22; 
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
         -2px -2px 5px 0 rgba(0,0,0,.1),
        2px 2px 5px 0 rgba(0,0,0,.1),
        -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
    }
    .border li:nth-child(2){border-color: #8bc63e;}
    .border li:nth-child(3){border-color: #fcba30;}
    .border li:nth-child(4){border-color: #1ccfc9;}
    .border li:nth-child(5){border-color: #493224;}
    .border li:hover {border-left: 10px solid transparent;}
    .border li:nth-child(1):hover {border-right: 10px solid #f05d22;}
    .border li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
    .border li:nth-child(3):hover {border-right: 10px solid #fcba30;}
    .border li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
    .border li:nth-child(5):hover {border-right: 10px solid #493224;}
    
    .footer{

        margin-top: 5%;
        background-color: #00000011;
    }
    
    .footer a{
        text-decoration: none;
        color: #000;
        font-weight: 600;
        
        
    }
    .footer li{
        padding-top: 5%;
    }
    .footer-content{
        padding-top: 2%;
    }
    .footer_copyright{
        padding-top: 2%;
        font-style: italic;
        color: #636363;
        text-align: center;
    }
    .avatars_pics{
        width: 35px;
    }
    .pets_menu{
        text-align: center;
        font-weight: 600;
        background-color: yellowgreen;
        padding: 2%;
        cursor: pointer;
        border-radius: 10px;
        margin-bottom: 8%;
        height: 300px;
    }
    .pets_menu:hover{
        text-align: center;
        font-weight: 600;
        background-color: rgb(147, 204, 33);
        padding: 2%;
    }
    .pets_menu_pic{
        width: 50%;
        border-radius: 10px;
        text-align: center;
        justify-content: end;
    }
    .header_pets_menu{
        margin-top: 5%;
        height: 130px;
        display: block;
        font-size: 16pt;
    }
    .pets_menu:hover .pets_menu_pic {

        width: 70%;
    }
    .pets_menu:hover .header_pets_menu{
        height: 80px;
    }
        .pets_menu:hover .header_pets_menu {

    color: #000;
    font-size: 17pt;
}

.general_menu_link{
    text-decoration: none;
}

